<section id='posts'>
<div class="panel panel-info">
  <div class="panel-heading">Recent Posts</div>
    <% if @posts.any? %>
      <% @posts.each do |post| %>
      <div class='thumb_image'>
            <%= image_tag post.image.url(:thumb) %>
            <%= show_post(post) %>
      </div>
      
    <% end %>
    <% else %>
      No posts yet!
    <% end %>
  </div>
</section>
